* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #383f57;
  display: flex;
  justify-content: center;
}
.container {
  width: 95%;
  height: 100%;
  display: flex;
  background-color: #eddada;
}
.logo__menu {
  width: 16%;
  height: 100%;
  background-color: #151729;
}
.logo__menu > p {
  color: #fff;
  font-weight: 400;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
.logo__menu .menu {
  margin-left: 20px;
  margin-top: 60px;
}
.logo__menu .menu ul {
  list-style: none;
}
.logo__menu .menu ul li a:hover {
  color: #fff;
}
.logo__menu .menu ul li {
  margin: 30px 0;
}
.logo__menu .menu ul li i {
  margin-right: 15px;
}
.logo__menu .menu p {
  color: #9c9dac;
}
.logo__menu .menu ul li a {
  text-decoration: none;
  color: #9c9dac;
}
.body__main {
  position: relative;
  width: 84%;
  height: 100%;
  display: flex;
  background-color: rgb(21, 72, 72);
}
.search__notify {
  position: absolute;
  width: 100%;
  top: 0;
  border-left: 1px solid #5f525f;
  height: 45px;
  background-color: #fff;
}
.content__main {
  height: 100%;
  padding: 20px;
  padding-top: 65px;
  width: 80%;
  overflow: scroll;
  background-color: #5f525f;
}
.contact__main {
  padding: 65px 20px 20px 20px;
  height: 100%;
  width: 20%;
  overflow: scroll;
  background-color: #151729;
}
.search__notify {
  display: flex;
  align-items: center;
  background-color: #151729;
  color: #9c9dac;
  justify-content: space-between;
  z-index: 1;
}
.search__notify__left {
  display: flex;
  align-items: center;
}
.search__notify__left label i {
  margin: 0 20px;
}
.search__notify__left input {
  font-size: 16px;
  font-weight: 300;
  background-color: #151729;
  width: 400px;
  color: white;
  border: none;
  outline: none;
}
.search__notify__right {
  display: flex;
  align-items: center;
}
.search__notify__right i {
  margin: 0 15px;
}
.search__notify__right .avt {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(./avatar.png);
  background-size: cover;
  margin: 0 15px;
}
.content__main .profile__name .background {
  width: 100%;
  height: 245px;
  background: url(./background.jpeg);
  background-size: cover;
  /* border-radius: 5px; */
}

.content__main .items a:hover {
  color: white;
  background-color: #1b1d2f;
  border-bottom: 3px solid #1388fb;
}
.content__main .items a {
  text-decoration: none;
  color: #9c9dac;
  transition: 0.1s;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.content__main .item {
  overflow: hidden;
  cursor: pointer;
}

.content__main .items {
  padding-left: 250px;
  width: 100%;
  height: 62px;
  background-color: #151729;
  display: flex;
  align-items: center;
  border-radius: 0 0 5px 5px;
}
.profile__name .background {
  position: relative;
  border-radius: 5px 5px 0 0;
}
.profile__name .background::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  left: 25px;
  background: url(./avatar.png);
  background-size: cover;
  border-radius: 50%;
  bottom: -40px;
  border: 2px solid rgb(155, 178, 220);
}
.profile__name .background .name__profile {
  position: absolute;
  font-size: 24px;
  color: #fff;
  left: 200px;
  bottom: 35px;
}
.main__profile {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 100%;
}
.main__profile__left {
  width: 35%;
  height: 100%;
  /* background-color: #fff; */
  /* margin-right: 10px; */
  /* padding-right: 10px;
  padding-left: 20px; */
  padding-right: 10px;
}
.main__profile__right {
  width: 65%;
  /* background-color: #9c9dac; */
  /* margin-left: 10px; */
  padding-left: 10px;
}
.address {
  padding: 20px;
  width: 100%;
  color: #c3c5d6;
  background-color: #151729;
  border-radius: 5px;
}
.address .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: #9c9dac;
  font-size: 20px;
  padding-bottom: 20px;
}
.address a {
  text-decoration: none;
  color: #176bc9;
}
.address i {
  padding-right: 10px;
}
.address .live {
  padding: 15px 0;
}
.status {
  width: 100%;
  border-bottom: 1px solid #272a3b;
  background-color: #151729;
  border-radius: 5px 5px 0 0;
}
.main__profile__left .days {
  width: 100%;
  /* height: 400px; */
  background-color: #151729;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
}
.main__profile__left .days .img__day {
  background: url(./day.jpeg);
  width: 100%;
  background-size: cover;
  height: 200px;
  position: relative;
}

.main__profile__left .days .day__top {
  position: absolute;
  height: 70px;
  width: 70px;
  margin: 25px;
  /* background-color: #a9a6db; */
}
.main__profile__left .days .day__top .month {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1787fb;
  color: #fff;
  font-weight: 500;
}
.main__profile__left .days .day__top .month__day {
  width: 100%;
  height: 50%;
  background-color: rgba(142, 137, 147, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}
.main__profile__left .days .title__day h3 {
  padding-top: 20px;
  color: #c3c5d6;
}
.main__profile__left .days .time__day {
  font-size: 13px;
  color: #5c5f6f;
}
.main__profile__left .page {
  width: 100%;
  /* height: 400px; */
  background-color: #151729;
  border-radius: 5px;
  padding: 20px;
}
.main__profile__left .title__page {
  display: flex;
  color: #9c9dac;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}
.main__profile__left .item__page {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main__profile__left .item__page .avt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(./avatar.png);
  background-size: cover;
}
.main__profile__left .name__page {
  color: #ccc9dc;
  font-weight: 200;
  margin-left: 20px;
}
.main__profile__right .status {
  padding: 20px;
}
.main__profile__right .status a {
  padding: 8px 16px;
  border-radius: 30px;
  color: #ccc9dc;
  text-decoration: none;
}
.main__profile__right .status a:hover {
  color: #fff;
  background-color: #2e2f41;
}

.avt__stt {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.avt__stt .avt {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  background: url(./avatar.png);
  background-size: cover;
}
.avt__stt .stt textarea {
  font-size: 16px;
  border: none;
  background-color: #151729;
  outline: none;
}
.main__profile__right .shares {
  width: 100%;
  /* height: 300px; */
  background-color: #151729;
  padding: 10px 20px;
  display: flex;
  border-radius: 0 0 5px 5px;
  align-items: center;
  justify-content: space-between;
}
.shares .stt__share a {
  color: #ccc9dc;
  text-decoration: none;
  padding-right: 20px;
}
.shares .btn__share button {
  width: 85px;
  height: 40px;
  background-color: #297ef3;
  color: #dedff8;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #aae3fc;
  text-shadow: 0 0 20px #ffffff;
  cursor: pointer;
}
.fa-circle-check {
  color: #297ef3;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
}
.main__profile__right .post {
  width: 100%;
  /* height: 300px; */
  background-color: #151729;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}
.main__profile__right .post .name__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main__profile__right .post .name__top .avt {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url(./avatar.png);
  background-size: cover;
  margin-right: 20px;
}
.main__profile__right .post .avt__name {
  display: flex;
  align-items: center;
}
.main__profile__right .post .avt__name .name {
  display: flex;
}
.main__profile__right .post .name1 {
  font-weight: bold;
  color: #ccc9dc;
}
.main__profile__right .post .name2 {
  color: #ccc9dc;
}
.main__profile__right .post .name3 {
  color: #1771d6;
}
.main__profile__right .post .name__time .time {
  color: #595d6d;
}
.main__profile__right .post .icon__top {
  font-size: 24px;
  color: #ccc9dc;
}
.main__profile__right .post .stt__post {
  color: #ccc9dc;
  padding: 20px 0;
}
.post__img {
  width: 100%;
  height: 250px;
  display: flex;
  background-color: #baa6a6;
}
.post__column1 {
  width: 50%;
  height: 100%;
  background: url(./work1.png);
  margin-right: 5px;
  overflow: hidden;
  background-size: cover;
}

.post__column2 {
  width: 50%;
  margin-left: 5px;
  height: 100%;
  overflow: hidden;
}
.post__column2__1 {
  width: 100%;
  margin-bottom: 5px;
  height: 50%;
  background: url(./work2.jpeg);
  background-size: cover;
}
.post__column2__2 {
  width: 100%;
  margin-top: 5px;
  height: 50%;
  background: url(./work3.jpeg);
  background-size: cover;
}
.bnt__post {
  display: flex;
  margin-top: 20px;
}
.bnt__post .bnt {
  margin-right: 20px;
  color: #a2a5b5;
}
.bnt__post .bnt:hover {
  color: #fff;
}
.contact__main .stories {
  border-bottom: 1px solid #272a3b;
}
.contact__main .title__stories,
.contact__main .title__contact {
  color: #5c5f6f;
  padding: 30px 0 20px 0;
}
.items__stories .item .avt {
  width: 50px;
  height: 50px;
  background: url(./avatar.png);
  background-size: cover;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #e2b96d;
}
.items__stories .item {
  display: flex;
  margin-bottom: 20px;
}
.items__stories .item .name {
  color: #ccc9dc;
}
.items__stories .item .time {
  color: #4b4e5f;
}
.items__contact .avt__contact {
  width: 50px;
  height: 50px;
  background: url(./avatar.png);
  background-size: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.items__contact .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.items__contact .avt__name {
  color: #ccc9dc;
  display: flex;
  align-items: center;
}
.items__contact .avt__stt {
  width: 8px;
  height: 8px;
  background-color: #80d222;
  border-radius: 50%;
  margin: 0;
}
